* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('pictures/techie.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,.hour,.minute,.second{
    font-size: 3rem;

}